@model ProjectN2.Models.NeuralNetworks

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>NeuralNetworks</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="numOfNeurons" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="numOfNeurons" class="form-control" />
                <span asp-validation-for="numOfNeurons" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="numOfLayers" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="numOfLayers" class="form-control" />
                <span asp-validation-for="numOfLayers" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
