@{
    ViewData["Title"] = "About Project N";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Project N is about delivering Neural Networks to customers in a fast and efficient way. We can build and train the neural networks for you or we can give you the tools to do that yourself.
   We have tons of templates for you to sample and see if you like our service! 
</p>
<h3>@ViewData["Philosophy"]</h3>
<p>Our philosophy is to work with our customers and help them solve any problem that requires a neural network.</p>